

.addCustomer{
    width:25%;
    background-color: rgb(230, 249, 160);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.addUserForm{
    margin-top: 20px;
}

.addUserForm .inputGroup label{
    margin-bottom:2px ;
}
.addUserForm .inputGroup input{
    margin-bottom: 10px;
    padding:5px;
}

.addUserForm .inputGroup button{
    border:0;
    outline: none;
    color: beige;
    background-color: rgb(121, 86, 247);
    font-weight: 500;
    padding: 14px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
    border-radius: 5px;
}
.addUser h3{
    margin-top: 10px;
    
}